<div class="logout-page">
    <div class="page-header">
        <h1>Registrierung erfolgreich</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>Die Registrierung wurde erfolgreich abgeschlossen</p>
        </div>
    </div>
</div>
